<div style="text-align: center;">
<h3>Pratica 1: To-do List Angular</h3>
Adicione uma tarefa:
<input [(ngModel)]="tarefa"type="text">
<br>
Adicione o horario: 
<input [(ngModel)]="horario"  type="time">
<button (click)="adicionartarefa()">Adicionar tarefa</button>
<ul>
  <li *ngFor="let tarefa of tarefas" > {{ tarefa }} </li>
  <li *ngFor="let horario of horarios" > {{ horario }} </li>
  

</ul>
</div>

<!-- quero adicionar uma tarefa e um horario, 
assim que adicionar vai ter que listar em uma tabela abaixo -->